version: '2'

networks:
  test:
    external:
      name: docker_test

services:
  asset-transfer-org1:
    container_name: asset-transfer-org1
    image: asset-transfer:1.0
    environment:
      - CHAINCODE_SERVER_ADDRESS=0.0.0.0:9999
      - CHAINCODE_ID=asset-transfer_1.0:72532aa0858d4c2d11fe7355936842ce76118efb89ad23f52200c9938d4e8d6f
      - CORE_CHAINCODE_ID_NAME=asset-transfer_1.0:72532aa0858d4c2d11fe7355936842ce76118efb89ad23f52200c9938d4e8d6f
    ports:
      - "9991:9999"
    networks:
      - test

  asset-transfer-org2:
    container_name: asset-transfer-org2
    image: asset-transfer:1.0
    environment:
      - CHAINCODE_SERVER_ADDRESS=0.0.0.0:9999
      - CHAINCODE_ID=asset-transfer_1.0:72532aa0858d4c2d11fe7355936842ce76118efb89ad23f52200c9938d4e8d6f
      - CORE_CHAINCODE_ID_NAME=asset-transfer_1.0:72532aa0858d4c2d11fe7355936842ce76118efb89ad23f52200c9938d4e8d6f
    ports:
      - "9992:9999"
    networks:
      - test
