@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-parchment-100 text-ink-900 font-sans antialiased;
  }
  h1, h2, h3, h4 {
    @apply font-serif text-ink-800;
  }
}
